dataset/ecommerce_dataset_us.csv
dataset/ecommerce_dataset_us.xlsx
dataset/before treatment/ecommerce_dataset_us.csv
dataset/before treatment/ecommerce_dataset_us.xls
.vscode/settings.json
descartes.ipynb
pontos_do_projeto
ecommerce_tableau.csv
categ_per_prod.csv
transac_per_user.csv
images/reparticao_total_compras.png
rfm_data.csv
images/heatmap_valor_gasto_por_usuario.png
images/rfm_usuarios_por_segmento.png
images/total_produtos_comprados_por_cat.png
images/valor_total_acumulado_por_cat.png
